:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: #ffffff;
    overflow: hidden;
  }
  .header {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 24px;
    position: relative; /*fixed*/
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-width: 0;
    padding: 12px 32px 12px 32px;
    background: #2d6073;
    border-top: 1px solid #2d6073;
    overflow: hidden;
    z-index: 1000; 
  }
  .bloque_logo {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 24px;
    position: relative;
    width: 40px;
    z-index: 1;
  }
  .logo_principal_ubicacion {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 40px;
    z-index: 2;
  }
  .logo_principal_imagen {
    flex-shrink: 0;
    position: relative;
    width: 56.833px;
    height: 68.5px;
    background: url(images/logo.png)
      no-repeat center;
    background-size: cover;
    z-index: 3;
  }
  .menu_opciones {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 0;
    gap: 8px;
    position: relative;
    z-index: 4;
  }
  .recuadro_opcion1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 8px;
    position: relative;
    width: 99px;
    padding: 8px 8px 8px 8px;
    /*--cursor: pointer;
    --background: #f5f5f5;
    --border: none;*/
    z-index: 5;
    border-radius: 8px;
  }
  .opcion1 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 16px;
    color: #f0f7da;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    white-space: nowrap;
    z-index: 6;
  }

  .recuadro_opcion1:hover {
    background: #f5f5f5;
    border-radius: 8px;
    cursor: pointer;
  }

  .opcion1:hover {
    color: #1e1e1e;
  }

  .recuadro_opcion2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 8px;
    position: relative;
    width: 101px;
    padding: 8px 8px 8px 8px;
    z-index: 7;
    border-radius: 8px;
  }

  .recuadro_opcion2:hover {
    background: #f5f5f5;
    border-radius: 8px;
    cursor: pointer;
  }

  .opcion2:hover {
    color: #1e1e1e;
  }

  .recuadro_opcion2.active {
    background: #f5f5f5;
    border-radius: 8px;
  }

  .opcion2.active {
    color: #1e1e1e;
  }
  
  .opcion2 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 16px;
    color: #f0f7da;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    white-space: nowrap;
    z-index: 8;
  }

  .recuadro_opcion3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 8px;
    position: relative;
    width: 143px;
    padding: 8px 8px 8px 8px;
    z-index: 9;
    border-radius: 8px;
  }

  .opcion3 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 16px;
    color: #f0f7da;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    white-space: nowrap;
    z-index: 10;
  }

  .recuadro_opcion3:hover {
    background: #f5f5f5;
    border-radius: 8px;
    cursor: pointer;
  }

  .opcion3:hover {
    color: #1e1e1e;
  }

  .recuadro_opcion3.active {
    background: #f5f5f5;
    border-radius: 8px;
  }

  .opcion3.active {
    color: #1e1e1e;
  }
  
  .bloque_principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 32px;
    position: relative;
    min-width: 0;
    padding: 160px 24px;
    background: url(/frontend/images/fondo_principal2.png) no-repeat center;
    background-size: cover;
    z-index: 11;
    width: 100%;
    height: 100%;
    
  }
  
  .bloque1_titulo_subtitulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
    position: relative;
    width: 808px;
    z-index: 12;
  }
  .titulo_principal {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 86px;
    color: #1e1e1e;
    font-family: Inter, var(--default-font-family);
    font-size: 72px;
    font-weight: 700;
    line-height: 86px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: -2.16px;
    z-index: 13;
  }
  .subtitulo_principal {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 38px;
    color: #757575;
    font-family: Inter, var(--default-font-family);
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    text-align: center;
    white-space: nowrap;
    z-index: 14;
  }
  .boton_principal {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    width: 240px;
    cursor: pointer;
    background: transparent;
    border: none;
    z-index: 15;
  }

  .boton_procesar_imagen_recuadro:hover {
    background: #757575;
    border-radius: 8px;
    cursor: pointer;
  }

  .boton_procesar_imagen_recuadro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 8px;
    position: relative;
    min-width: 0;
    padding: 12px 12px 12px 12px;
    background: #2c2c2c;
    border: 1px solid #2c2c2c;
    z-index: 16;
    overflow: hidden;
    border-radius: 8px;
  }
  .boton_procesar_imagen_texto {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 16px;
    color: #f5f5f5;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    white-space: nowrap;
    z-index: 17;
  }
  .bloque2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 48px;
    position: relative;
    width: 100%;
    padding: 64px 64px 64px 64px;
    background: #65b8a6;
    z-index: 19;
  }
  .bloque2_titulo_subtitulo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
    position: relative;
    width: 326px;
    z-index: 20;
  }
  .titulo_bloque2 {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 29px;
    color: #1e1e1e;
    font-family: Inter, var(--default-font-family);
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.48px;
    z-index: 21;
  }
  .subtitulo_bloque2 {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #757575;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 22;
  }
  .subrecuadros {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 48px;
    position: relative;
    min-width: 0;
    height: 357px;
    z-index: 23;
  }
  .subrecuadro1-contenedor {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: initial;
    flex-grow: 1;
    flex-basis: 0;
    gap: 24px;
    position: relative;
    min-width: 240px;
    padding: 24px 24px 24px 24px;
    background: #b5e8c3;
    border: 1px solid #d9d9d9;
    z-index: 24;
    border-radius: 8px;
  }
  .subrecuadro1-imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    position: relative;
    width: 160px;
    min-width: 160px;
    height: 160px;
    background: rgba(227, 227, 227, 0.2)
      url(images/definicion.png) no-repeat
      center;
    background-size: contain;
    z-index: 25;
    overflow: hidden;
  }
  .subrecuadro1-texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-basis: 0;
    gap: 16px;
    position: relative;
    min-width: 160px;
    z-index: 26;
  }
  .subreacuadro1-bloque-texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
    position: relative;
    z-index: 27;
  }
  .subrecuadro1-titulo {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 29px;
    color: #1e1e1e;
    font-family: Inter, var(--default-font-family);
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.48px;
    z-index: 28;
  }
  .subrecuadro1-contenido {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 100%;
    height: auto;
    color: #757575;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: justify;
    z-index: 29;
    padding-top: 8px;
  }
  .subrecuadro2-contenedor {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: initial;
    flex-grow: 1;
    flex-basis: 0;
    gap: 24px;
    position: relative;
    min-width: 240px;
    padding: 24px 24px 24px 24px;
    background: #b5e8c3;
    border: 1px solid #b5e8c3;
    z-index: 30;
    border-radius: 8px;
  }
  .subrecuadro2-imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    position: relative;
    width: 160px;
    min-width: 160px;
    height: 160px;
    background: rgba(227, 227, 227, 0.2)
      url(images/caracteristicas.png) no-repeat
      center;
    background-size: contain;
    z-index: 31;
    overflow: hidden;
  }
  .subrecuadro2-texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-basis: 0;
    gap: 16px;
    position: relative;
    min-width: 160px;
    z-index: 32;
  }
  .subrecuadro2-bloque-texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
    position: relative;
    z-index: 33;
  }
  .subrecuadro2-titulo {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 29px;
    color: #1e1e1e;
    font-family: Inter, var(--default-font-family);
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.48px;
    z-index: 34;
  }
  .subrecuadro2-contenido {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 100%;
    height: auto;
    color: #757575;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: justify;
    z-index: 35;
  }
  .subrecuadro3-contenedor {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: initial;
    flex-grow: 1;
    flex-basis: 0;
    gap: 24px;
    position: relative;
    min-width: 240px;
    padding: 24px 24px 24px 24px;
    background: #b5e8c3;
    border: 1px solid #d9d9d9;
    z-index: 36;
    border-radius: 8px;
  }
  .subrecuadro3-imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    position: relative;
    width: 160px;
    min-width: 160px;
    height: 160px;
    background: rgba(227, 227, 227, 0.2)
      url(images/mision.png) no-repeat
      center;
    background-size: contain;
    z-index: 37;
    overflow: hidden;
  }
  .subrecuadro3-texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-basis: 0;
    gap: 16px;
    position: relative;
    min-width: 160px;
    z-index: 38;
  }
  .subrecuadro3-bloque-texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
    position: relative;
    z-index: 39;
  }
  .subrecuadro3-titulo {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 29px;
    color: #1e1e1e;
    font-family: Inter, var(--default-font-family);
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.48px;
    z-index: 40;
  }
  .subrecuadro3-contenido {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 100%;
    height: auto;
    color: #757575;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: justify;
    z-index: 41;
    
  }
  .bloque3-imagen-recuadro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 50%;
    height: 321px;
    background: rgba(227, 227, 227, 0.2)
      center;
    background-size: contain;
    z-index: 55;
    overflow: hidden;
  }

  .bloque3-imagen-recuadro img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  .bloque3-imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 30%;
    height: 321px;
    background: url(images/procesamiento.png) no-repeat
      center;
    background-size: contain;
    z-index: 55;
    overflow: hidden;
  }
  .page-product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 24px;
    position: relative;
    width: 50%;
    min-width: 240px;
    height: 321px;
    padding: 64px 64px 64px 64px;
    background: #f0f7da;
    z-index: 44;
  }
  .section {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 64px;
    position: relative;
    min-width: 0;
    z-index: 45;
  }
  .column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 24px;
    position: relative;
    z-index: 46;
  }
  .body-15 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    z-index: 47;
  }
  .title-16 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    z-index: 48;
  }
  .text-heading {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    z-index: 49;
  }
  .subrecuadro4-titulo {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 29px;
    color: #1e1e1e;
    font-family: Inter, var(--default-font-family);
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.48px;
    z-index: 50;
  }
  .subrecuadro4-bloque-contenido {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    z-index: 51;
  }
  .subrecuadro4-contenido {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: #757575;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    white-space: nowrap;
    z-index: 52;
  }
  .subrecuadro4-boton1-recuadro {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
    position: relative;
    padding: 12px 12px 12px 12px;
    cursor: pointer;
    background: #2c2c2c;
    border: 1px solid #2c2c2c;
    z-index: 53;
    overflow: hidden;
    border-radius: 8px;
  }
  .subrecuadro4-boton1-texto {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 16px;
    color: #f5f5f5;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    white-space: nowrap;
    z-index: 54;
  }

  .subrecuadro4-boton1-recuadro:hover {
    background: #757575;
    border-radius: 8px;
    cursor: pointer;
  }

  .subrecuadro4-boton2-recuadro {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
    position: relative;
    padding: 12px 12px 12px 12px;
    cursor: pointer;
    background: #2c2c2c;
    border: 1px solid #2c2c2c;
    z-index: 53;
    overflow: hidden;
    border-radius: 8px;
  }
  .subrecuadro4-boton2-texto {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 16px;
    color: #f5f5f5;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    white-space: nowrap;
    z-index: 54;
  }

  .subrecuadro4-boton2-recuadro:hover {
    background: #757575;
    border-radius: 8px;
    cursor: pointer;
  }

  .bloque5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 48px;
    position: relative;
    width: 100%;
    padding: 64px 64px 64px 64px;
    background: #65b8a6;
    z-index: 56;
  }
  .text-content-heading-1c {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
    position: relative;
    width: 366px;
    z-index: 57;
  }
  .heading-1d {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 29px;
    color: #1e1e1e;
    font-family: Inter, var(--default-font-family);
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.48px;
    z-index: 58;
  }
  .subheading-1e {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #757575;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 59;
  }
  .cards-1f {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 24px;
    position: relative;
    min-width: 0;
    z-index: 60;
  }
  .bloque5-tarjeta1 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 24px;
    position: relative;
    min-width: 240px;
    padding: 24px 24px 24px 24px;
    background: #cff7d3;
    border: 1px solid #d9d9d9;
    z-index: 61;
    border-radius: 8px;
  }
  .bloque5-tarjeta1-imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    position: relative;
    width: 160px;
    min-width: 160px;
    height: 160px;
    background: rgba(227, 227, 227, 0.2)
      url(images/plastico.png) no-repeat
      center;
    background-size: contain;
    z-index: 62;
    overflow: hidden;
  }
  .bloque5-tarjeta1-contenido {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-basis: 0;
    gap: 16px;
    position: relative;
    min-width: 160px;
    z-index: 63;
  }
  .bloque5-tarjeta1-texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
    position: relative;
    z-index: 64;
  }
  .bloque5-subtitulo1 {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 29px;
    color: #1e1e1e;
    font-family: Inter, var(--default-font-family);
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.48px;
    z-index: 65;
  }
  .bloque5-contenido1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 99%;
    height: 44px;
    color: #757575;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: justify;
    z-index: 66;
  }
  .bloque5-boton1 {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    z-index: 67;
  }
  .bloque5-boton1-recuadro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
    position: relative;
    width: 237px;
    padding: 12px 12px 12px 12px;
    cursor: pointer;
    background: #2d6073;
    border: 1px solid #767676;
    z-index: 68;
    overflow: hidden;
    border-radius: 8px;
  }
  .bloque5-boton1-recuadro:hover {
    background: #757575;
    border-radius: 8px;
    cursor: pointer;
  }

  .video {
    flex-shrink: 0;
    position: relative;
    width: 16px;
    height: 16px;
    z-index: 69;
    overflow: hidden;
  }
  .bloque5-icono-boton1 {
    position: relative;
    width: 16px;
    height: 10.933px;
    margin: 2.533px 0 0 0;
    background: url(images/icono_video.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 70;
  }
  .bloque5-boton1-texto {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 16px;
    color: #f0f7da;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    white-space: nowrap;
    z-index: 71;
  }
  .bloque5-tarjeta2 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 24px;
    position: relative;
    min-width: 240px;
    padding: 24px 24px 24px 24px;
    background: #cff7d3;
    border: 1px solid #d9d9d9;
    z-index: 72;
    border-radius: 8px;
  }
  .bloque5-tarjeta2-imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    position: relative;
    width: 160px;
    min-width: 160px;
    height: 160px;
    background: rgba(227, 227, 227, 0.2)
      url(images/papel_carton.png) no-repeat
      center;
    background-size: contain;
    z-index: 73;
    overflow: hidden;
  }
  .bloque5-tarjeta2-contenido {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-basis: 0;
    gap: 16px;
    position: relative;
    min-width: 160px;
    z-index: 74;
  }
  .bloque5-tarjeta2-texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
    position: relative;
    z-index: 75;
  }
  .bloque5-subtitulo2 {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 29px;
    color: #1e1e1e;
    font-family: Inter, var(--default-font-family);
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.48px;
    z-index: 76;
  }
  .bloque5-contenido2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 99%;
    height: 44px;
    color: #757575;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: justify;
    z-index: 77;
  }
  .bloque5-boton2 {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    z-index: 78;
  }
  .bloque5-boton2-recuadro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
    position: relative;
    width: 237px;
    padding: 12px 12px 12px 12px;
    cursor: pointer;
    background: #2d6073;
    border: 1px solid #767676;
    z-index: 79;
    overflow: hidden;
    border-radius: 8px;
  }
  .bloque5-boton2-recuadro:hover {
    background: #757575;
    border-radius: 8px;
    cursor: pointer;
  }
  .video-32 {
    flex-shrink: 0;
    position: relative;
    width: 16px;
    height: 16px;
    z-index: 80;
    overflow: hidden;
  }
  .bloque5-icono-boton2 {
    position: relative;
    width: 16px;
    height: 10.933px;
    margin: 2.533px 0 0 0;
    background: url(images/icono_video.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 81;
  }
  .bloque5-boton2-texto {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 16px;
    color: #f0f7da;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    white-space: nowrap;
    z-index: 82;
  }
  .bloque5-tarjeta3 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 24px;
    position: relative;
    min-width: 240px;
    padding: 24px 24px 24px 24px;
    background: #cff7d3;
    border: 1px solid #d9d9d9;
    z-index: 83;
    border-radius: 8px;
  }
  .bloque5-tarjeta3-imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    position: relative;
    width: 160px;
    min-width: 160px;
    height: 160px;
    background: rgba(227, 227, 227, 0.2)
      url(images/vidrio.png) no-repeat
      center;
    background-size: contain;
    z-index: 84;
    overflow: hidden;
  }
  .bloque5-tarjeta3-contenido {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-basis: 0;
    gap: 16px;
    position: relative;
    min-width: 160px;
    z-index: 85;
  }
  .bloque5-tarjeta3-texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
    position: relative;
    z-index: 86;
  }
  .bloque5-subtitulo3 {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 29px;
    color: #1e1e1e;
    font-family: Inter, var(--default-font-family);
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.48px;
    z-index: 87;
  }
  .bloque5-contenido3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 840px;
    height: 44px;
    color: #757575;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    z-index: 88;
  }
  .bloque5-boton3 {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    z-index: 89;
  }
  .bloque5-boton3-recuadro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
    position: relative;
    width: 237px;
    padding: 12px 12px 12px 12px;
    cursor: pointer;
    background: #2d6073;
    border: 1px solid #767676;
    z-index: 90;
    overflow: hidden;
    border-radius: 8px;
  }
  .bloque5-boton3-recuadro:hover {
    background: #757575;
    border-radius: 8px;
    cursor: pointer;
  }
  .video-3d {
    flex-shrink: 0;
    position: relative;
    width: 16px;
    height: 16px;
    z-index: 91;
    overflow: hidden;
  }
  .bloque5-icono-boton3 {
    position: relative;
    width: 16px;
    height: 10.933px;
    margin: 2.533px 0 0 0;
    background: url(images/icono_video.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 92;
  }
  .bloque5-boton3-texto {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 16px;
    color: #f0f7da;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    white-space: nowrap;
    z-index: 93;
  }
  .footer {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    width: 100%;
    height: 185px;
    padding: 32px 32px 160px 32px;
    background: #2d6073;
    border-bottom: 1px solid #d9d9d9;
    z-index: 94;
    overflow: hidden;
  }
  .title-40 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 24px;
    position: relative;
    width: 262px;
    min-width: 240px;
    z-index: 95;
  }
  .figma-41 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 90%;
    z-index: 96;
  }
  .icon-42 {
    flex-shrink: 0;
    position: relative;
    width: 50%;
    height: 120px;
    background: url(images/logo.png)
      no-repeat center;
    background-size: cover;
    z-index: 97;
  }
  /*
  .button-list {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    width: 63.98px;
    z-index: 98;
  }
  .x-logo {
    flex-shrink: 0;
    position: relative;
    width: 23.98px;
    height: 24px;
    z-index: 99;
  }
  .icon-43 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(./assets/images/39064b58-52e3-4372-b90d-78442143eccc.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 100;
  }
  .logo-instagram {
    flex-shrink: 0;
    position: relative;
    width: 24px;
    height: 24px;
    z-index: 101;
    overflow: hidden;
  }
  .icon-44 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(./assets/images/17eb4085-7599-486f-94da-4f36b5c4b72b.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 102;
  }
  */
  .footer-bloque1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 12px;
    position: relative;
    left: 3%;
    width: 262px;
    z-index: 103;
  }
  .footer-bloque1-contenido1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    min-width: 0;
    padding: 0 0 16px 0;
    z-index: 104;
  }
  .text-strong {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    z-index: 105;
  }
  .footer-bloque1-texto1 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: #f0f7da;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    white-space: nowrap;
    z-index: 106;
  }
  .footer-bloque1-contenido2 {
    flex-shrink: 0;
    position: relative;
    width: 89px;
    height: 22px;
    z-index: 107;
  }
  .footer-bloque1-texto2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    color: #f0f7da;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    white-space: nowrap;
    z-index: 108;
  }
  .footer-bloque1-contenido3 {
    flex-shrink: 0;
    position: relative;
    width: 89px;
    height: 22px;
    z-index: 109;
  }
  .footer-bloque1-texto3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    color: #f0f7da;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    white-space: nowrap;
    z-index: 110;
  }
  .text-link-list-item-49 {
    flex-shrink: 0;
    position: relative;
    width: 89px;
    height: 22px;
    z-index: 111;
  }
  .text-link-list-4a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 12px;
    position: relative;
    width: 262px;
    left: 6%;
    z-index: 112;
  }
  .title-4b {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    min-width: 0;
    padding: 0 0 16px 0;
    z-index: 113;
  }
  .text-strong-4c {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    z-index: 114;
  }
  .text-strong-4d {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: #f0f7da;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    white-space: nowrap;
    z-index: 115;
  }
  .text-link-list-item-4e {
    flex-shrink: 0;
    position: relative;
    width: 89px;
    height: 22px;
    z-index: 116;
  }
  .list-item-4f {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    color: #f0f7da;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    white-space: nowrap;
    z-index: 117;
  }
  .text-link-list-item-50 {
    flex-shrink: 0;
    position: relative;
    width: 89px;
    height: 22px;
    z-index: 118;
  }
  .list-item-51 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    color: #f0f7da;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    white-space: nowrap;
    z-index: 119;
  }
  .text-link-list-52 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 12px;
    position: relative;
    width: 262px;
    left: 9%;
    z-index: 120;
  }
  .title-53 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    min-width: 0;
    padding: 0 0 16px 0;
    z-index: 121;
  }
  .text-strong-54 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    z-index: 122;
    
  }
  .text-strong-55 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 167px;
    height: 44px;
    color: #f0f7da;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    text-align: left;
    z-index: 123;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .text-link-list-item-56 {
    flex-shrink: 0;
    position: relative;
    width: 89px;
    height: 22px;
    z-index: 124;
  }
  .list-item-57 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    width: 180px;
    height: 200%;
    top: -50%;
    left: 0;
    color: #f0f7da;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    z-index: 125;
  }
  .procesar-imagen{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 126;
  }
  .imagen2-fondo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 127;
  }
  .bloque5-tarjeta4 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 24px;
    position: relative;
    min-width: 240px;
    padding: 24px 24px 24px 24px;
    background: #cff7d3;
    border: 1px solid #d9d9d9;
    z-index: 83;
    border-radius: 8px;
  }
  .bloque5-tarjeta4-imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    position: relative;
    width: 160px;
    min-width: 160px;
    height: 160px;
    background: rgba(227, 227, 227, 0.2)
      url(/frontend/images/metal.jpg) no-repeat
      center;
    background-size: contain;
    z-index: 84;
    overflow: hidden;
  }
  .bloque5-tarjeta4-contenido {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-basis: 0;
    gap: 16px;
    position: relative;
    min-width: 160px;
    z-index: 85;
  }
  .bloque5-tarjeta4-texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
    position: relative;
    z-index: 86;
  }
  .bloque5-subtitulo4 {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 29px;
    color: #1e1e1e;
    font-family: Inter, var(--default-font-family);
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.48px;
    z-index: 87;
  }
  .bloque5-contenido4 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 840px;
    height: 44px;
    color: #757575;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    z-index: 88;
  }
  .bloque5-boton4 {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    z-index: 89;
  }
  .bloque5-boton4-recuadro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
    position: relative;
    width: 237px;
    padding: 12px 12px 12px 12px;
    cursor: pointer;
    background: #2d6073;
    border: 1px solid #767676;
    z-index: 90;
    overflow: hidden;
    border-radius: 8px;
  }
  .bloque5-boton4-recuadro:hover {
    background: #757575;
    border-radius: 8px;
    cursor: pointer;
  }
  .video-48 {
    flex-shrink: 0;
    position: relative;
    width: 16px;
    height: 16px;
    z-index: 91;
    overflow: hidden;
  }
  .bloque5-icono-boton4 {
    position: relative;
    width: 16px;
    height: 10.933px;
    margin: 2.533px 0 0 0;
    background: url(images/icono_video.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 92;
  }
  .bloque5-boton4-texto {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 16px;
    color: #f0f7da;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    white-space: nowrap;
    z-index: 93;
  }

  .oculto {
    display: none;
  }
  
  .visible {
    display: flex; /* O flex/grid según tu layout */
  }

  .bloque5-tarjeta1,
  .bloque5-tarjeta2,
  .bloque5-tarjeta3,
  .bloque5-tarjeta4 {
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  .oculto {
    opacity: 0;
    transform: scale(0.95);
    pointer-events: none;
  }

  .visible {
    opacity: 1;
    transform: scale(1);
  }